<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ohads ruleset" Description="All rules except ones I disagree with or ones better covered by R#" ToolsVersion="15.0">
	<Include Path="ohads.ruleset" Action="Error" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1062" Action="None" />
	</Rules>
</RuleSet>