html {
  position: relative;
  min-height: 100%;
}
.content {
    margin: 0 20px 60px;
}
.header {
    margin: 30px 0 20px;
    text-align: center;
}
.loader {
    position: fixed;
    left: 50%;
    top: 45%;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; 
  background-color: #f5f5f5;
  padding: 5px 10px 5px;
}
.body-intro {
    backgroundColor : black;
    background-color: black;
}
.header-intro {
    color: white;
    backgroundColor: black;
    backgroundColor: rgba(0, 0, 0, 0.2);
    background-color: black;
    background-color: rgba(0, 0, 0, 0.2);
}
.text-vertical-middle,
table tbody tr td.vcenter {
    vertical-align: middle;
}
.input-short {
    width: 60px;
}
.input-long {
    width: 300px !important;
}
.strikeThrough {
    text-decoration: line-through;
}
.emphasized {
    font-style: italic;
}
.compressed{
    white-space: nowrap;
    width: 1%;
}
.gamePagination {
    margin-top: 0;
    display: table-cell;
}
.tableInfo {
    margin: 6px 6px 6px 6px;
}
.sortable {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}