html {
  position: relative;
  min-height: 100%;
}
.content {
    margin: 0 20px 70px;
}
.header {
    margin: 30px 0 20px;
    text-align: center;
}
.alerts {
    margin: 20px;
}
.amchart {
    width: 100%;
}
.loader {
    position: fixed;
    left: 50%;
    top: 50%;
}
@media (max-width: 767px) {
    .loader {
        position: fixed;
        left: 50%;
        top: 60%;
    }
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding: 5px 10px 5px;
}
.body-intro {
    /* ReSharper disable CssNotResolved */
    backgroundColor : black; 
    /* ReSharper restore CssNotResolved */
    background-color: black;

    background-image: url(../Resources/sk5_0.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    /* ReSharper disable CssBrowserCompatibility */
    background-size: cover;
    /* ReSharper restore CssBrowserCompatibility */

}
.header-intro {
    color: white;
    /* ReSharper disable CssNotResolved */
    /* ReSharper disable RequiresFallbackColor */
    backgroundColor: black;
    backgroundColor: rgba(0, 0, 0, 0.2);
    /* ReSharper restore RequiresFallbackColor */
    /* ReSharper restore CssNotResolved */
    background-color: black;
    background-color: rgba(0, 0, 0, 0.2);
}
.attribution {
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: #5F4E4C;
}
.attribution-link {
    color: #5F4E4C;
    text-decoration: underline;
}
.inline-btn-toolbar {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
    margin-left: 10px;
}
.inline-label {
    position: relative;
    bottom: 1px;
    padding-top: 5px;
}
.fixed-page {
    width: 50px;
    text-align: center;
}
.text-vertical-middle,
table tbody tr td.vcenter {
    vertical-align: middle;
}
.emphasized {
    font-style: italic;
}
.compressed{
    white-space: nowrap;
    width: 1%;
}
.gamePagination {
    margin-top: 0;
    display: table-cell;
}
.tableInfo {
    margin: 6px 6px 6px 6px;
}
.horizontal-alert-row {
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}
.horizontal-alert {
    margin-bottom: -99979px;
    padding-bottom: 99999px;
    border: none;
}
.sortable {
    cursor: pointer;
    /* ReSharper disable UnknownCssVendorExtension */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* ReSharper restore UnknownCssVendorExtension */
    /* ReSharper disable CssBrowserCompatibility */
    user-select: none;
    /* ReSharper restore CssBrowserCompatibility */
}